.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.input {
  width: 80%;
  font-family: sans-serif;
  font-size: 20px;
  padding: 20px;
  height: 200px;
  background: none;
  color: white;
  margin-bottom: 50px;
}

.result {
  min-height: 200px;
  cursor: copy;
  border: 1px solid ghostwhite;
  padding: 20px;
  text-align: initial;
  width: 80%;
  font-size: 25px;
  margin-bottom: 50px;
}

.title > span {
  margin-left: 20px;
  font-size: 15px;
  opacity: 0.5;
}

.title {
  width: 80%;
  font-size: 25px;
  text-align: left;
}

.title-wrap {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.delete-button {
  display: block;
  height: 40px;
  font-size: 20px;
  align-self: center;
  border: 1px solid white;
  border-radius: 8px;
  background-color: transparent;
  color: white;
  padding: 10px 30px;
  cursor: pointer;
}
